@import '../../node_modules/bootstrap/less/bootstrap.less'; // Twitter Bootstrap
@import 'vendor/lesshat.less';
@import 'lib/mixins.less';
@import 'lib/icons.less';
@import 'lib/fonts.less';



// variables

@color1: #f6e8d7;
@color2: #b3b3b3;
@color3: #1a1a1a;
@color4: #fbb03b;
@color5: #89a45e;
@color6: #f7931e;



// general/defaults

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1;
}

iframe {
  display: block;
  border: none;
}



// Browse Happy prompt

.browsehappy {
  margin: 1rem 0;
  background: #ccc;
  color: #000;
  padding: 1rem 0;
}



// sticky footer (see: http://galengidman.com/2014/03/25/responsive-flexible-height-sticky-footers-in-css/)

html,
body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 100%;
}



// unorganized

h1 {
  @ptSansNarrow();
  font-size: 3.6rem;
  text-align: center;
  margin: 4rem 0 0.5rem;
  text-align: center;
}

.project-thumb {
  height: 220px;
  background-color: #eee;
}

.project-row {
  margin-bottom: 20px;
}

.project-tabs {
  .piped-nav(@color6);
  font-size: 2rem;
  margin-bottom: 30px;

  :first-child {
    padding-left: 0;
  }
}

.social {
  .piped-nav(@color6);
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0 70px;
}

header {
  nav {
    ul {
      .piped-nav(@color6);
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      margin: 80px 0 60px;
    }
  }
}
