each project in projects
  .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-4.col-md-offset-0
    a.project-thumb(href="project.html?name=" + project.slug, class=project.slug)
      p
        span= project.name
