include ../mixins/shared.jade



doctype html
html(class="no-js" lang="en")

  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block title
    meta(name="description" content="Belinda Vega's portfolio.")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="/styles/main.min.css")

  body

    | @@include('./icons/svg/symbols.svg')
    = "\n"

    +ie('if lt IE 9')
      p(class="browsehappy") You are using an #[strong outdated] browser. Please #[a(href="http://browsehappy.com/" target="_blank") upgrade your browser] to improve your experience.

    header.page-row
      section.inner
        .logo
        nav
          ul
            block page-nav

    main.page-row.page-row-expanded
      section.inner
        block article
          
    footer.page-row
      section.inner
        .container
          .row
            .col-sm-12
              ul.social
                li
                  a(href="https://twitter.com/antalonesarmy" rel="external") Twitter
                li
                  a(href="http://instagram.com/antalones_army" rel="external") Instagram
                li
                  a(href="https://www.pinterest.com/beevega/" rel="external") Pinterest

    script(src="/scripts/main.min.js")
