extends ../layouts/layout.jade



block title
  title About | Belinda Vega

block page-nav
  li
    a(href="work.html") Work
  li.selected
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
