extends ../layouts/layout.jade



block title
  title About | Belinda Vega

block page-nav
  li
    a(href="work.html") Work
  li.selected
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .about
          p My name is Belinda Vega, and I live in Austin, TX. I'm a designer focused on UI with a strong background in photography. I also enjoy graphic design, hand drawn type, and illustration.
          p I've always been deeply connected to strong visual design. I like to apply a clean, rational approach to my UI work, so that the message is conveyed clearly and directly. My photography and artwork is a little more fun and quirky. My photography has been featured in publications, CDs, and various music websites.
          p I love sharing tips, articles, and tutorials on #[a(href="https://twitter.com/antalonesarmy") Twitter]. Being an avid photographer, I take snapshots with my phone and regularly share on #[a(href="http://instagram.com/antalones_army") Instagram].
