extends ../layouts/layout.jade



block title
  title Contact | Belinda Vega

block page-nav
  li
    a(href="work.html") Work
  li
    a(href="about.html") About
  li.selected
    a(href="contact.html") Contact

block article
  .container
    .contact
      .row
        .col-md-12  
          #wufoo-z86gnxr1vfbi4j Fill out my #[a(href="https://troywarr.wufoo.com/forms/z86gnxr1vfbi4j") online form].
          script.
            var z86gnxr1vfbi4j;
            (function(d, t) {
              var s = d.createElement(t), 
                  options = {
                    userName: 'troywarr',
                    formHash: 'z86gnxr1vfbi4j',
                    autoResize: true,
                    height: '511',
                    async: true,
                    host: 'wufoo.com',
                    header: 'hide',
                    ssl: true
                  },
                  scr = d.getElementsByTagName(t)[0], 
                  par = scr.parentNode; 
              s.src = ('https:' === d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; 
                if (rs) {
                  if (rs !== 'complete') {
                    if (rs !== 'loaded') {
                      return;
                    }
                  }
                }
                try { 
                  z86gnxr1vfbi4j = new WufooForm();
                  z86gnxr1vfbi4j.initialize(options);
                  z86gnxr1vfbi4j.display(); 
                } catch(e) {}
              };
              par.insertBefore(s, scr);
            })(document, 'script');
