extends ../layouts/layout.jade



block title
  title Home | Belinda Vega

block page-nav
  li
    a(href="work.html") Work
  li
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  section
    h1 Home
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
