extends ../layouts/layout.jade



block title
  title Home | Belinda Vega

block page-nav
  li
    a(href="work.html") Work
  li
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  .container
    .row
      .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
        a(href="work.html#identity").category.identity
          .thumb
          p.name Identity 
      .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
        a(href="work.html#print").category.print
          .thumb
          p.name Print
      .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
        a(href="work.html#web-design").category.web-design
          .thumb
          p.name Web Design
      .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
        a(href="work.html#photography").category.photography
          .thumb
          p.name Photography
