extends ../layouts/layout.jade



block title
  title Belinda Vega

block page-nav
  li.selected
    a(href="work.html") Work
  li
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  .container
    .project
      .row
        //- templates/project.jade
