extends ../layouts/layout.jade



block title
  title Work | Belinda Vega

block page-nav
  li.selected
    a(href="work.html") Work
  li
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  .container
    .row
      .col-md-12
        ul.project-tabs
          li.selected Everything
          li Identity
          li Print
          li Web
          li Photography
    .row.project-row
      .col-md-4
        .project-thumb.cat-everything
      .col-md-4
        .project-thumb.cat-identity
      .col-md-4
        .project-thumb.cat-print
    .row.project-row
      .col-md-4
        .project-thumb.cat-web
      .col-md-4
        .project-thumb.cat-photography
      .col-md-4
        .project-thumb.cat-everything
    .row.project-row
      .col-md-4
        .project-thumb.cat-identity
      .col-md-4
        .project-thumb.cat-print
      .col-md-4
        .project-thumb.cat-web
    .row.project-row
      .col-md-4
        .project-thumb.cat-photography
      .col-md-4
        .project-thumb.cat-everything
      .col-md-4
        .project-thumb.cat-identity
    .row.project-row
      .col-md-4
        .project-thumb.cat-print
      .col-md-4
        .project-thumb.cat-web
      .col-md-4
        .project-thumb.cat-photography
