extends ../layouts/layout.jade



block title
  title Work | Belinda Vega

block page-nav
  li.selected
    a(href="work.html") Work
  li
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  section
    ul
      li Everything
      li Identity
      li Print
      li Web
      li Photography
