extends ../layouts/layout.jade



block title
  title Work | Belinda Vega

block page-nav
  li.selected
    a(href="work.html") Work
  li
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  .container
    .work
      .row
        .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0
          ul.project-tabs
            li(data-category="everything").selected
              a(href="#everything") Everything
            li(data-category="identity")
              a(href="#identity") Identity
            li(data-category="print")
              a(href="#print") Print
            li(data-category="web-design")
              a(href="#web-design") Web Design
            li(data-category="photography")
              a(href="#photography") Photography
      .row
        .project-thumbs
          //- templates/work.jade
