extends ../layouts/layout.jade



block title
  title Work | Belinda Vega

block page-nav
  li.selected
    a(href="work.html") Work
  li
    a(href="about.html") About
  li
    a(href="contact.html") Contact

block article
  .container
    .work
      .row
        .col-md-12
          ul.project-tabs
            li(data-category="everything").selected Everything
            li(data-category="identity") Identity
            li(data-category="print") Print
            li(data-category="web") Web
            li(data-category="photography") Photography
      .project-thumbs
